.project-drawer-file-item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
    height: 20px;
}

.project-drawer-file-item.active {
    background-color: var(--primaryHover);
}
