.editor-highlight {
    position: absolute;
    inset: 0;
    margin: 0;
    padding: 4px;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-wrap;
    word-break: break-word;
    pointer-events: none;
    z-index: 3;
    box-sizing: border-box;
    color: var(--text);
}

.editor-highlight code {
    display: block;
    text-align: left;
}

.token-keyword,
.token-semicolon {
    color: #be7132;
    font-weight: bold;
}

.token-string {
    color: #609354;
}

.token-comment {
    color: #6d6d6d;
    font-style: italic;
}

.token-brace,
.token-colon,
.token-symbol,
.token-property,
.token-identifier {
    color: white;
}

.token-function,
.token-selector,
.token-custom-property {
    color: #fdc56c;
}

.token-unit,
.token-value {
    color: #97b25b;
}

.token-hex,
.token-number {
    color: #6490b2;
}
