.editor-window {
    height: 100%;
    width: 100%;
    font-family: monospace;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    overflow: hidden;
}

.editor-layer {
    position: relative;
    flex: 1;
    display: flex;
    overflow: hidden;
    padding-left: 60px;
}
