.editor-highlight {
    position: absolute;
    inset: 0;
    margin: 0;
    padding: 4px;
    font-family: monospace;
    font-size: 14px;
    line-height: 20px;
    background: transparent;
    box-sizing: border-box;
    color: var(--text);
    z-index: 20;
    overflow: scroll;
}

.highlight-line {
    white-space: pre;
    pointer-events: none;
    color: var(--text);
    text-align: start;
}
