.editor-file-button {
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    border-bottom: 2px solid;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 8px;
}

.editor-file-button-modified-indicator {
    background-color: var(--text);
    height: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.editor-file-button-close {
    border: none;
    background-color: transparent;
    padding: 2px;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
}

.editor-file-button-close:hover {
    background-color: var(--primary);
}
