.editor-textarea-wrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
    padding-left: 60px;
    width: calc(100% - 60px);
    height: 100%;
    z-index: 50;
}

.editor-text-area {
    flex: 1;
    height: 100%;
    background: transparent;
    caret-color: var(--text);
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    resize: none;
    border: none;
    outline: none;
    z-index: 50;
    white-space: pre;
    box-sizing: border-box;
    overflow: scroll;
    color: transparent;
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0 0 200px;
}

