.side-menu {
    width: 49px;
    height: calc(100vh - 50px);
    background-color: var(--primary);
    border-right: 1px solid var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
}
