.modal-background {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100vw;
    height: 100vh;
}

.modal-content {
    width: 100%;
    max-width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
}
