body {
  margin: 0;
  font-family: "JetBrains Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: '';
  --primaryHover: '';
  --secondary: '';
  --tertiary: '';
  --background: '';
  --text: '';
  --textSecondary: '';
  --outline: '';
}

body.theme-changing * {
  transition: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primaryHover);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
