body {
  margin: 0;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  overflow: hidden;
}

code {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
  --primary: '';
  --primaryHover: '';
  --secondary: '';
  --tertiary: '';
  --background: '';
  --text: '';
  --textSecondary: '';
  --outline: '';
}

body.theme-changing * {
  transition: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primaryHover);
  border-radius: 10px;
  cursor: default;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
