.title-bar {
    height: 31px;
    background-color: var(--primary);
    color: var(--text);
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid var(--outline);
    gap: 16px;
}

.draggable {
    -webkit-app-region: drag;
    user-select: none;
}
